body {
	margin-top: 15px;
}

.row {
	margin-bottom: 15px;	
}

.page_title {
	text-align: center;
	font-weight: bold;
}

.form_buttons {
	margin-top: 10px;
	text-align: center;
}

.form_buttons button {
	width: 200px;
	margin: auto;
}