body {
	margin-top: 15px;
}

.row {
	margin-bottom: 15px;	
}

.web_title {
	margin-bottom: 50px;
}

.card_style {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.header {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header a {
	align-self: center;
}

.title-link {
	text-decoration: none;
	color: black;
}

.title-link:hover {
	text-decoration: none;
}

.form_buttons {
	margin-top: 10px;
	text-align: center;
}

.form_buttons button {
	width: 200px;
	margin: auto;
}

.btn_style {
	width: 200px;
}

.div_detail_profil_style {
	margin: 15px auto;
	width: 50%;
	font-size: large;
}